{% extends 'base.html.twig' %}

{% block title %}
	Welcome to Homepage!
{% endblock %}

{% block body %}
	Hello World!
	<img src="{{ asset('bundles/framework/images/logo_symfony.png') }}">
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" scr="{{ asset('bundles/framework/css/body.css') }}"></script>
{% endblock %}