{% extends 'KmlBundle::dasar.html.twig' %}

{% block title%}
Google Maps API Demo
{% endblock %}

{% block stylesheets%}
	<link href="{{ asset('bundles/kml/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
	<style>
	#gmap{
		width: 100%;
		height: 400px;
	}
	</style>
{% endblock %}

{% block body%}
<div id="gmap"></div>
{% endblock %}

{% block javascripts%}
<script src="https://maps.googleapis.com/maps/api/js?language=in"></script>
<script>
console.log('fhds');
var map = new google.maps.Map(document.getElementById('gmap'), {
    center: {lat: -6.87, lng: 107.644},
    zoom: 8
  });

</script>
{% endblock %}